
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
html {
	background-image: url(file:///C:/Users/rarik/Desktop/cw.jpg);
}
.page {
	font-family: 'Tenor Sans', sans-serif;
	position: absolute;
	top: 10%;
	bottom: 10%;
	width: 80%;
	height: 75%;
	left: 10%;
	right: 10%;
	background-color: rgba(255, 255, 255, 0.7);
}
.pageHeader {
	height: 10%;
	width: 100%;
	bottom: 90%;
	background-color: rgb(66, 134, 244);
	vertical-align: middle;
}
.rightH {
	position: absolute;
	left: 30px;
	top: 20px;
	font-size: 30px;
	color: rgba(255, 255, 255, 0.7);
}
.leftH {
	position: absolute;
	top: 25px;
	margin-left: 90%;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.7);
}
.photo {
	position: absolute;
	width: 65px;
	height: 60px;
	right: 11%;
	top: 7px;
	border-radius: 100%;
	box-shadow: 0 0 7px #666;
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  clear: both;
  background-color: white;
}
.main .nav {
  width: 200px;
  height: 100%;
  float: left;
  background-color: rgba(227, 234, 235, 0.8);
}
.main .nav .menu {
  width: 100%;
  margin: 15px;
  color: #555;
}
.main .nav .menu .title {
  font-weight: 700;
  font-size: 1.0em;
  text-transform: uppercase;
}
.main .menu ul {
  padding-left: 0px;
}
.main .menu ul li {
  cursor: pointer;
  list-style: none;
  margin: 5px 0px;
  padding: 5px 0px;
  font-weight: 600;
  margin-right: 30px;
  padding-left: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.main .menu ul li.active {
  color: #79BC46;
}
.main .menu ul li:hover {
  background-color: #999;
}
.main .menu ul li i {
  font-size: 1.4em;
  margin-right: 10px;
}
.tasklist {
	font-family: 'Tenor Sans', sans-serif;
	position: relative;
	top: -10px;
	margin-right: 20%;
	font-size: 25px;
	color: rgba(0, 0, 0, 0.5);
}
.main .view {
	font-family: 'Tenor Sans', sans-serif;
  position: relative;
  margin-left: 200px;
}
.main .view .taskHeader {
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #E0E0E0;
}
a {
  position: relative;
  left: 75%;
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: white;
  background: grey;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
a:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-7px);
}
.main .view .content   {
  position: absolute;
  left: 0px;
  top: 70px;
  right: 0px;
  bottom: 0px;
  padding: 10px;
}
.main .view .content .list .title {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #54b9cd;
}
.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34,50,84,0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.check:hover:before {
  opacity: 1;
}
.check:hover svg {
  stroke: #6BF363;
}
#cbx:checked + .check svg {
  stroke: #6BF363;
}
#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
#cbc:checked + .check svg {
  stroke: #6BF363;
}
#cbc:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbc:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
#cbv:checked + .check svg {
  stroke: #6BF363;
}
#cbv:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbv:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cbz:checked + .check svg {
  stroke: #6BF363;
}
#cbz:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbz:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cbb:checked + .check svg {
  stroke: #6BF363;
}
#cbb:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbb:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cbm:checked + .check svg {
  stroke: #6BF363;
}
#cbm:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbm:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cbn:checked + .check svg {
  stroke: #6BF363;
}
#cbn:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbn:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cbq:checked + .check svg {
  stroke: #6BF363;
}
#cbq:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbq:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cb1:checked + .check svg {
  stroke: #6BF363;
}
#cb1:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cb1:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cb2:checked + .check svg {
  stroke: #6BF363;
}
#cb2:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cb2:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cb3:checked + .check svg {
  stroke: #6BF363;
}
#cb3:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cb3:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cb4:checked + .check svg {
  stroke: #6BF363;
}
#cb4:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cb4:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cd {
	display: none;
}
#cd1 {
	display: none;
}
#cd2 {
	display: none;
}